extends base/default

block content
    main#main_section
        header
            include components/topbar
            include components/hero
        article
            header.content-header.row
                .column
                    h2 Lançamentos
            section.lista
                .card
                    a(href='interna.html')
                        .art
                            span.ribbon.price R$12,90
                            img(src='images/albuns/acdc.jpg' title="Lorem Ipsum" alt="Lorem Ipsum")
                        .card-content
                            p.title Live 2012
                            p.author AC/DC
                .card
                    a(href='interna.html')
                        .art
                            span.ribbon.price R$12,90
                            img(src='images/albuns/bbking.jpg' title="Lorem Ipsum" alt="Lorem Ipsum")
                        .card-content
                            p.title Riding with the king
                            p.author Eric Clapton
                .card
                    a(href='interna.html')
                        .art
                            span.ribbon.price R$12,90
                            img(src='images/albuns/bonamassa.jpg' title="Lorem Ipsum" alt="Lorem Ipsum")
                        .card-content
                            p.title Blues Deluxe
                            p.author Joe Bonamassa
                .card
                    a(href='interna.html')
                        .art
                            span.ribbon.price R$12,90
                            img(src='images/albuns/camel.jpg' title="Lorem Ipsum" alt="Lorem Ipsum")
                        .card-content
                            p.title Mirage
                            p.author Camel
                .card
                    a(href='interna.html')
                        .art
                            span.ribbon.price R$12,90
                            img(src='images/albuns/etta.png' title="Lorem Ipsum" alt="Lorem Ipsum")
                        .card-content
                            p.title 40 Golden Greats
                            p.author Etta James
                .card
                    a(href='interna.html')
                        .art
                            span.ribbon.price R$12,90
                            img(src='images/albuns/kiss.jpg' title="Lorem Ipsum" alt="Lorem Ipsum")
                        .card-content
                            p.title Alive!
                            p.author Kiss
            .row.text-center
                .column
                    a.button.shop(href='') Todos os lançamentos
        article
            header.content-header.row
                .column
                    h2 Mais Vendidos
            section.lista
                .card
                    a(href='interna.html')
                        .art
                            span.ribbon.price R$12,90
                            img(src='images/albuns/titas.jpg' title="Lorem Ipsum" alt="Lorem Ipsum")
                        .card-content
                            p.title Cabeça Dinossauro...
                            p.author Titãs
                .card
                    a(href='interna.html')
                        .art
                            span.ribbon.price R$12,90
                            img(src='images/albuns/trace.jpg' title="Lorem Ipsum" alt="Lorem Ipsum")
                        .card-content
                            p.title Trace
                            p.author Trace
                .card
                    a(href='interna.html')
                        .art
                            span.ribbon.price R$12,90
                            img(src='images/albuns/jimmi.jpg' title="Lorem Ipsum" alt="Lorem Ipsum")
                        .card-content
                            p.title Are you experienced
                            p.author Jimmi Hendrix Experience
                .card
                    a(href='interna.html')
                        .art
                            span.ribbon.price R$12,90
                            img(src='images/albuns/rush.jpg' title="Lorem Ipsum" alt="Lorem Ipsum")
                        .card-content
                            p.title Vapor Trails (REMIX)
                            p.author Rush
                .card
                    a(href='interna.html')
                        .art
                            span.ribbon.price R$12,90
                            img(src='images/albuns/etta.png' title="Lorem Ipsum" alt="Lorem Ipsum")
                        .card-content
                            p.title 40 Golden Greats
                            p.author Etta James
                .card
                    a(href='interna.html')
                        .art
                            span.ribbon.price R$12,90
                            img(src='images/albuns/acdc.jpg' title="Lorem Ipsum" alt="Lorem Ipsum")
                        .card-content
                            p.title Live 2012
                            p.author AC/DC
            .row.text-center
                .column
                    a.button.shop(href='') Todos os títulos
