extends base/default

block content
    main#main_section
        header
            include components/topbar
            include components/breadcrumbs
        article
            section#album-details
                #album-art
                    .row
                        .column
                                img(src='images/albuns/camel-mirage-f.jpg' title='Camel - Mirage' alt='Capa do álbum Mirage do artista Camel')
                        .column
                            h2.title Mirage
                            p.author <strong>Camel</strong> - 1974
                            span.music-style Rock Progressivo
                            .shop-actions
                                a.button.ghost(href='#') Ouvir
                                a.button.shop(href='#') R$12,90
                                p: a.wishlist(href='#') + Lista de desejos
                .description.row
                    .column
                        p <strong>Mirage</strong> é o segundo álbum de estúdio da banda inglesa de rock progressivo <a href="#">Camel</a>, lançado em 1974. É um dos álbuns mais famosos da banda, e contém uma de suas músicas mais conhecidas: "Lady Fantasy". Também é marcado pelo som da flauta do líder da banda Andrew Latimer, em "Supertwister".
                .track-list.row
                    .column
                        ol.tracks
                            li.track-item
                                span Freefall - 5:52
                                a.button.ghost(href='#') Ouvir
                            li.track-item
                                span Supertwister - 3:18
                                a.button.ghost(href='#') Ouvir
                            li.track-item
                                span Nimrodel (medley) - 9:16
                                a.button.ghost(href='#') Ouvir
                            li.track-item
                                span Earthrise - 6:40
                                a.button.ghost(href='#') Ouvir
                            li.track-item
                                span Lady Fantasy - 12:43
                                a.button.ghost(href='#') Ouvir
                section.more-albuns
                    header.content-header.row
                        .column
                            h2 Outros títulos
                    div.lista
                        .card
                            a(href='interna.html')
                                .art
                                    span.ribbon.price R$12,90
                                    img(src='images/albuns/acdc.jpg')
                                .card-content
                                    p.title Live 2012
                                    p.author AC/DC
                        .card
                            a(href='interna.html')
                                .art
                                    span.ribbon.price R$12,90
                                    img(src='images/albuns/bbking.jpg')
                                .card-content
                                    p.title Riding with the king
                                    p.author Eric Clapton
                        .card
                            a(href='interna.html')
                                .art
                                    span.ribbon.price R$12,90
                                    img(src='images/albuns/bonamassa.jpg')
                                .card-content
                                    p.title Blues Deluxe
                                    p.author Joe Bonamassa
                        .card
                            a(href='interna.html')
                                .art
                                    span.ribbon.price R$12,90
                                    img(src='images/albuns/camel.jpg')
                                .card-content
                                    p.title Mirage
                                    p.author Camel
                        .card
                            a(href='interna.html')
                                .art
                                    span.ribbon.price R$12,90
                                    img(src='images/albuns/etta.png')
                                .card-content
                                    p.title 40 Golden Greats
                                    p.author Etta James
                        .card
                            a(href='interna.html')
                                .art
                                    span.ribbon.price R$12,90
                                    img(src='images/albuns/kiss.jpg')
                                .card-content
                                    p.title Alive!
                                    p.author Kiss
