/* 1. ALBUM DETAILS*/
#album-details
    margin: 0 auto
    margin-top: 2em
    max-width: $max-width

    .title
        margin: 0
        color: $darker-grey

    .author
        margin: 0
        font-size: 0.8em
        color: $dark-grey
        line-height: 1
        @media #{$iphone}
            font-size: .6em

    .music-style
        color: $darker-grey
        font-weight: bold
        font-size: .6em

    .shop-actions
        .button
            display: inline-block
            margin-left: 0

        @media #{$iphone}
            .ghost
                display: none
    .tracks
        margin: 0
        padding: 0
        list-style-position: inside

    .track-item
        font-size: .9em
        text-transform: uppercase
        margin-bottom: 5px
        padding: 2em 0
        border-bottom: 1px dashed $dark-grey

        .button
            float: right
            margin: 0

    .button.shop
        background-color: $secondary-color
        transform: background-color
        transition: .25s ease-in-out
        &:hover
            transform: background-color
            transition: .25s ease-in-out
            background-color: $green
            color: #FFF

    .album-price
        font-size: 2em
        margin: 0
        color: $green

    @media #{$large}
        .track-list
            clear: both

        .description .column
            padding-left: 0

#album-art
    img
        width: 100%
        +shadow
    .column:first-child
        padding-right: 0

    @media #{$large}
        .row:first-child
            display: block

        .column:first-child
            float: left
            width: 32%
            padding-right: $column-gutter
