/* 2. BREADCRUMBS*/
#breadcrumbs
    font-size: 85%
    padding: 1em 0
    text-transform: lowercase
    color: #777
    background: $aliceblue

    .divider
        margin: 0 .6em
        color: $secondary-color
