/* 3. BUTTONS*/
.button
    padding: .5em 1em
    border-radius: $radius
    margin: .5em
    display: inline-block
    text-transform: uppercase
    border-bottom: 0
    font-size: .8em
    &.expand
        display: block
    &.shop
        background-color: $secondary-color
        color: $primary-color
    &.ghost
        border: 1px solid $darker-grey
        &:hover
            border-color: $secondary-color
