/* 4. CARDS*/
.card
    +shadow($v:1px, $b:3px)
    +column
    border-radius: $radius
    min-width: 132px
    max-width: 200px
    height: auto
    min-height: 225px
    margin: 0 .8em
    margin-bottom: 1em
    overflow: hidden
    padding: 0
    padding-bottom: .8em
    position: relative
    background-color: #FFF
    @media #{$iphone}
        min-height: 195px

    .art
        position: relative
        img
            width: 100%
            height: auto
    .ribbon
        position: absolute
        background-color: $secondary-color
        padding: .2em .5em
        bottom: 8px
        margin: 0
        right: -3px
        font-size: .8em
        border-top-left-radius: $radius
    a
        &:hover
            color: $primary-color

.card-content
    padding: 0 .5em
    .title
        margin: 0
        font-size: 0.85em
        @media #{$iphone}
            font-size: .75em
    .author
        margin: 0
        font-size: 0.6em
        color: $dark-grey
.buy-button
    position: absolute
    background: url('../images/buy-button.svg') no-repeat
    display: block
    width: 40px
    height: 40px
    right: 12px
    bottom: 12px
    border-bottom: 0
