/* 5. FOOTER STYLES*/
#main-footer
    background-color: $primary-color
    padding: 2em 1em
    margin-top: 2em
    text-align: center
    color: #FFF

    .logo-footer
        display:block

    .footer-info
        .title
            margin-bottom: 0
        p
            margin: 0
