/* 6. HERO*/
#hero
    .slide
        height: 450px
        background-size: auto 100%
        background-position: top center
        background-repeat: no-repeat
        display: flex
        align-items: center
        flex-wrap: wrap
        justify-content: center

        @media #{$large}
            height: 600px
            background-size: cover
        @media #{$xlarge}
            height: 700px

    .call
        color: #FFF
        padding: 2.5em
        text-align: center
        .title
            font-size: 4em
            margin: 0
        .ribbon
            display: block
            margin: 0
            margin-bottom: 0.5em
            text-transform: uppercase
            font-weight: bold
            &.lancamento
                background-color: $secondary-color
                color: $primary-color
        .description
            font-size: 2em
            font-weight: bold
            text-transform: uppercase
            margin: 0
            margin-top: 0.5em
