/* 7. MAIN NAVIGATION*/
#main_nav
    +shadow($h:-3px)
    margin: 0
    position: absolute
    top: $nav-height
    right: -5px
    left: auto
    background-color: #FFF
    padding: 0 20px
    width: 200px
    transform: translate3d(100%, 0, 0)
    transition: transform 0.8s
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1)

    @media #{$large}
        right: 0
        top: inherit
        background-color: transparent
        width: auto
        transform: none
        box-shadow: none

    &.show
        transform: translate3d(0, 0, 0)
        transition: transform 0.8s
        transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1)
    .item
        margin: 1em 0
        @media #{$large}
            display: inline-block
            margin: 0 0 1em
            padding: 1em

            &:hover
                background-color: $secondary-color
                border-radius: $radius

    a
        display: block
        color: $primary-color
        text-transform: uppercase
        font-weight: 600

#burger
    height: $burger-size
    width: $burger-size
    right: $burger-size
    position: absolute
    transform: rotate(0deg)
    transition: .5s ease-in-out
    cursor: pointer
    margin-top: 1em

    @media #{$large}
        display: none

    & span
        display: block
        position: absolute
        height: 5px
        width: 100%
        background: $secondary-color
        border-radius: 2px
        opacity: 1
        left: 0
        transform: rotate(0deg)
        transition: .25s ease-in-out

        &:nth-child(1)
            top: 3px
            transform-origin: left center
        &:nth-child(2)
            top: 12px
            transform-origin: left center
        &:nth-child(3)
            top: 21px
            transform-origin: left center
    &.open
            & span
                background: $primary-color

                &:nth-child(1)
                    transform: rotate(45deg)
                    top: 3px
                    left: 2px

                &:nth-child(2)
                    width: 0%
                    opacity: 0

                &:nth-child(3)
                    transform: rotate(-45deg)
                    top: 24px
                    left: 2px
