/* 8. TOPBAR STYLES*/
#topbar
    +shadow
    position: fixed
    width: 100%
    height: $nav-height
    padding: $column-gutter
    background-color: #FFF
    z-index: 2
    top: 0
    @media #{$large}
        .container
            position: relative

    #brand
        position: relative
        float: left
    a
        border: 0
