#breadcrumbs
    .row
        .column
            span: a(href='index.html') Página Inicial
            span.divider /
            span: a(href='index.html') camel
            span.divider /
            span mirage
