#hero
    .slide(style='background-image:url(images/slides/slide02.jpg)')
        .call
            p.ribbon.lancamento Lançamento!
            h2.title zz top
            p.description Badalero 3K
            a.button.expand.shop(href='interna.html' role='button') Comprar
