#topbar
    .container.row
        #brand
            a(href='index.html')
                img(src='images/brand/h-logo.svg' height='60px' title='gomusic online music store' alt='GoMusic Logo')
        #burger
            span
            span
            span
        nav#main_nav
            .item
                a(href='#') Lançamentos
            .item
                a(href='#') Ofertas
            .item
                a(href='#') Acessórios
            .item
                a(href='#') Minha conta
            .item
                a(href='#') Meu Carrinho
