//FONT FAMILY
$primary-font: 'Monda', sans-serif
$regular-font: 'Open Sans', sans-serif

//COLOR PALLETE
//black
$primary-color: rgba(0,0,0,1)
//orange
$secondary-color: rgba(255, 204, 0, 1)
//aliceblue
$aliceblue: rgba(240, 248, 255, 1)
//green cart
$green: rgba(54, 173, 35, 1)

//grey-scale
$darker-grey: rgba(51, 51, 51, 1)
$dark-grey: rgba(179, 179, 179, 1)
$medium-grey: rgba(230, 230, 230, 1)
$light-grey: rgba(249, 249, 249, 1)

//shadow
$shadow: rgba(0,0,0,.3)

//VARIABLES
//general
$nav-height: 90px
$burger-size: 30px
$fontsize-title: 24px
$max-width: 1200px
$columns: 12
$column-gutter: 15px
$radius: 3px

//animation
$transition: transform 0.5s
$timing-function: cubic-bezier(0.7, 0, 0.3, 0.5)

//MEDIA QUERIES
$portrait: '(orientation: portrait)'
$landscape: '(orientation: landscape)'
//4 and 5
$iphone: 'only screen and (min-device-width: 320px) and (max-device-width: 359px)'
$large: 'only screen and (min-width: 1024px)'
$xlarge: 'only screen and (min-width: 1280px)'

//MIXINS
//Flex Grid
=row($flexdirection: row, $flexwrap: wrap)
    max-width: $max-width
    margin: 0 auto
    display: flex
    flex-flow: $flexdirection $flexwrap

=column
    padding: 0 $column-gutter
    min-width: initial
    flex: 1 1 0px

=columns($c)
    +column
    width:($c / $columns) * 100%


//Shadows
=shadow($h:0, $v:3px, $b:4px, $c:$shadow)
    box-shadow: $h $v $b $c

//HELPERS
.text-center
    text-align: center
