/*BASE*/
html
    box-sizing: border-box

*, *:before, *:after
    box-sizing: inherit

html, body
    height: 100%
    margin: 0
    padding: 0

body
    font-family: $regular-font
    color: $darker-grey
    line-height: 1.8
    padding-top: $nav-height

h1,h2,h3
    font-family: $primary-font
    text-transform: uppercase
    color: $secondary-color
    font-weight: bold

h1
    font-size: $fontsize-title
h2
    font-size: $fontsize-title - 2
h3
    font-size: $fontsize-title - 6

a
    color: inherit
    text-decoration: none
    border-bottom: 2px dashed $secondary-color
    &:hover
        color: $secondary-color
ul
    margin: 0
    padding: 0
img
    border: 0
