footer#main-footer
    .logo-footer
            img(src='images/brand/footer-logo.svg' height='60px' title='gomusic online music store' alt='GoMusic Logo')
    .footer-info
        h3.title Suporte Online
        p.body
            a(href='tel:+558530113422') +55 85 3011.3422
    .footer-info
        h3.title Política de Privacidade
        p.body
            a(href='#') Respeitamos sua Privacidade
    .footer-info
        h3.title Termos do Serviço
        p.body
            a(href='#') Leia nossos termos
//build:js scripts/main.min.js
//inject:js
//endinject
//endbuild
