head
	meta(charset='UTF-8')
	meta(http-equiv="x-ua-compatible" content="ie=edge")
	meta(name='viewport' content='width=device-width, initial-scale=1')
	meta(name='description' content=header.description)
	meta(name='author' content=header.author)
	title #{header.title}
	link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600|Monda')
	//build:css styles/libs.min.css
	//endbuild
	//build:css styles/main.min.css
	link(rel='stylesheet' href=paths.styles + '/' + styles.main_style)
	//endbuild
